
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}


#home{
  background: url(backgroundd.jpeg);
  padding-bottom: 20px;
  height: 700px;
}

.navbar {
  display: grid;
  grid-template-columns: 6.5fr 2.5fr 2fr;
  grid-template-areas: "logo menus toggler";
  justify-items: stretch;
  align-items: stretch;
  column-gap: 10px;
  height: 60px;
  background-color: rgb(255, 255, 255);
}

.right{
  margin: auto 10px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.mid{
  margin: auto 10px;
  font-size: 15px;
}

.list{
  display: flex;
}

.items{
    list-style: none;
    transition: font-size 0.4s;
}

.items:active{
  text-decoration: underline;
  color: rgb(66, 66, 66);
}

.items:hover{
  font-size: 30px;
}

.items a{
    color: rgb(0, 0, 0);
    margin: auto 10px;
    text-decoration: none;
    font-weight: bolder;
}

.left{
    margin: auto 0px;
}

.logoImg{
    margin: auto 10px;
    height: 20px;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}


.typewriter h2 {
   overflow: hidden; /*Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
 margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    width: 50%;
    font-size: 3.3rem;
    margin-top: 10%;
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(92, 95, 104); }
}

#sale{
  color:lightcoral;
}

#book-type{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
}

.bok{
  background-color: #696969;
  margin: 1px;
  border: 2px solid rgb(61, 54, 54);
  border-radius: 5px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  height: 120px;
  transition: background 1s;
  color: black;
}

 a{
  text-decoration: none;
}

.bok {transition-timing-function: ease-in-out;}

.bok:hover{
  background: rgb(49, 48, 48);
  color: rgb(255, 248, 248);
}

#follow{
  background-color: rgb(37, 34, 34);
  text-align: center;
  padding: 5% auto;
}

.shimmer {
  font-weight: 300;
  font-size: 35px;
  padding: 0 140px 0 0;
  display: inline;
}
p {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1em;
  color: rgba(255,255,255,0.65);
  width: 500px;
  text-align: justify;
  line-height: 1.5em;
  border-top: 1px dashed rgba(255,255,255,0.2);
  margin: 10px 0 0 5px;
  padding-top: 10px;
}
p a {
  text-decoration: none;
  color: #fff;
}
p a:visted {
  color: #fff;
}

.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.534);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgb(0, 0, 0);
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

#service{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2%;
  gap: 10px;
}

.bo{
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.bo img{
  width: 50px;
  height: 50px;
  margin-right: 6%;
}

.con{
  color: rgb(0, 0, 0);
  
}

#review{
  border: 3px solid rgb(56, 56, 52);
  border-radius: 5px;
  margin-top: 70px;
  width: 45%;
}

.feed img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -50px;
}

.feed{
  background: rgb(19, 18, 18);
  padding-bottom: 5%;
}

.fee{
  color: whitesmoke;
}

#about{
  border: 2px solid rgb(90, 90, 88);
  margin: 5% 15px;
}

#abt{
  display: flex;
  padding: 5%;
  font-weight: lighter;
}

#abt img{
  width: 100px;
  height: 100px;
  margin: auto;
}

#su{
  margin-right: 3%;
}

#prime{
   margin-top: 2%;
   background-color: rgb(63, 60, 60);
   color: rgb(0, 0, 0);
}

#blog{
  border: 2px solid rgb(90, 90, 88) ;
  border-radius: 0%;
  margin: 5% 10px;
  background-color: rgb(106, 111, 116);
}

#sec{
  margin-top: 2%;
   color: rgb(0, 0, 0);
   font-size: 2rem;
}

#blo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3%;
}

.blg{
  border: 2px solid rgb(114, 114, 114);
  border-radius: 5px;
  margin: 3%;
  padding: 5%;
  background-color: rgb(37, 36, 36);
  color: rgb(100, 103, 104);
}

.blg:hover{
  background-color: rgba(0, 0, 0, 0.308);
  color: rgb(255, 255, 255);
  cursor: default;
}

#contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  background-color: rgb(106, 111, 116);
  column-gap: 30px;
}

#form{
  margin: 2%;
  margin: auto 2%;
}

.text{
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 2px solid white;
  background-color:black;
  margin: 2%;
  width: 450px;
  border-radius: 30px;
  color: white;
}

.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

#area{
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 2px solid white;
  background-color: black;
  margin: 2%;
  width: 450px;
  border-radius: 30px;
  color: white;
}

.ctn{
  color: white;
  margin: 50px;
}

.ct{
  margin: 2%;
  border:2px solid white;
  border-radius: 10px;
  background-color: black;
  font-size: 12px;
  padding: 20px;
}

.ct img{
  margin: 10px;
}


/* Utility Class */

.line{
margin-top: 5%;
height: 10px;
}

.btn{
  border: 1px solid rgb(0, 0, 0);
  background: rgb(69, 71, 71);
  border-radius: 50px;
  margin: 15px 10px;
  padding: 10px;
  cursor: pointer;
}

.btn:hover{
  border-color: rgba(0, 0, 0, 0.397);
  color: white;
}

.btn-main{
background-color: rgb(131, 128, 128);
padding: 10px;
border: 2px solid white;
border-radius: 10px;
width: 300px;
height: 60px;
font-size: 25px;
color: white;
cursor: pointer;
}

.btn-main:hover{
background-color: rgb(85, 81, 81);
}

